# Global Settings
TIMEZONE=America/Recife
PUID=1000
PGID=1000

# Base Paths (Absolute paths recommended)
BASE_CONFIG_DIR=/var/home/felipe/server/configs
BASE_DATA_DIR=/var/home/felipe/server/data
BASE_MEDIA_DIR=/mnt/external/media

# Service Versions
NGINX_VER=1.31.2
PIHOLE_VER=2026.07.2
DNSCRYPT_VER=2.1.16
QBIT_VER=latest
JACKETT_VER=latest
BAZARR_VER=latest
PROWLARR_VER=latest
RADARR_VER=latest
SONARR_VER=latest
HA_VER=2026.7.2
ESPHOME_VER=2026.6.5
HOMARR_VER=v1.70.0
OCTOPRINT_VER=1.11.8
SPEEDTEST_TRACKER_VER=1.14.5
FLARESOLVERR_VER=latest
PAPERLESS_VER=2.20.15
REDIS_VER=8.8.8
TIKA_VER=3.3.1.0
GOTENBERG_VER=8.25

# Secrets & Specifics
PIHOLE_PWD=admin
AUTH_SECRET=your_auth_secret_here
SPEEDTEST_TRACKER_APP_KEY=base64:your_app_key_here
SPEEDTEST_TRACKER_SCHEDULE=0 * * * *
TORRENT_PORT=62609
LOG_LEVEL=info
LOG_HTML=false
ESPHOME_USERNAME=test
ESPHOME_PASSWORD=ChangeMe
PAPERLESS_OCR_LANGUAGE=por
