# Global Settings
TIMEZONE=America/Recife
PUID=1000
PGID=1000

# Base Paths
STORAGE_PATH=/mnt/external
CONFIG_PATH=~/server/configs

# Media Service Paths
MEDIA_PATH=${STORAGE_PATH}/media
QBITTORRENT_CONFIG=${CONFIG_PATH}/qbittorrent
JACKETT_CONFIG=${CONFIG_PATH}/jackett
BAZARR_CONFIG=${CONFIG_PATH}/bazarr
PROWLARR_CONFIG=${CONFIG_PATH}/prowlarr
RADARR_CONFIG=${CONFIG_PATH}/radarr
SONARR_CONFIG=${CONFIG_PATH}/sonarr
FLARESOLVERR_CONFIG=${CONFIG_PATH}/flaresolverr

# Network Service Paths
PIHOLE_CONFIG=${CONFIG_PATH}/pihole
PIHOLE_PWD=admin

# Utility Service Paths
PORTAINER_DATA=${CONFIG_PATH}/portainer
LIBRESPEED_CONFIG=${STORAGE_PATH}/librespeed
ORGANIZR_CONFIG=${STORAGE_PATH}/organizr
HOMARR_CONFIG=${CONFIG_PATH}/homarr
SPEEDTEST_TRACKER_CONFIG=${CONFIG_PATH}/speedtest-tracker

# Octoprint Paths
OCTOPRINT_CONFIG=${CONFIG_PATH}/octoprint

# Service Specifics
AUTH_SECRET=your_auth_secret_here
SPEEDTEST_TRACKER_APP_KEY=base64:your_app_key_here
SPEEDTEST_TRACKER_SCHEDULE=0 * * * *
TORRENT_PORT=62609
LOG_LEVEL=info
LOG_HTML=false
